body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-x: hidden;
  }
  
  .sky {
    background-color: lightskyblue;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  
  .container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }
  
  .sun {
    position: relative;
    margin: 0;
    padding: 0;
    top: 20px;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  
  .text {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  
  h1,
  p {
    color: white;
    font-family: Arial;
  }
  
  h1 {
    margin-bottom: 0;
  }
  
  .sand {
    background-color: bisque;
    /*flex-grow: 1.5;*/
    position: relative;
    -ms-flex-preferred-size: 250px;
        flex-basis: 250px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  
  .palm {
    position: absolute;
    top: -80px;
    right: 35%;
    opacity: 0;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  
  .lady {
    position: absolute;
    bottom: 0;
    right: 20%;
  }
  
  .umbrella {
    position: absolute;
    top: 0;
    opacity: 0;
    -webkit-animation-name: move-right;
            animation-name: move-right;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  
  .ball {
    position: absolute;
    top: 50%;
    opacity: 0;
    -webkit-animation-name: move-left;
            animation-name: move-left;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  
  /* KEYFRAMES */
  @-webkit-keyframes move-right {
    0% {
      left: -100px;
      opacity: 1;
    }
  
    100% {
      left: 100px;
      opacity: 1;
    }
  }
  @keyframes move-right {
    0% {
      left: -100px;
      opacity: 1;
    }
  
    100% {
      left: 100px;
      opacity: 1;
    }
  }
  
  @-webkit-keyframes move-left {
    0% {
      right: -100px;
      opacity: 1;
    }
  
    100% {
      right: 250px;
      opacity: 1;
    }
  }
  
  @keyframes move-left {
    0% {
      right: -100px;
      opacity: 1;
    }
  
    100% {
      right: 250px;
      opacity: 1;
    }
  }
  
  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes opacity {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }